body {
    background-color: #FFF8F6;
}
.title {
    display: flex;
    justify-content: center;
    font-family: "museo-slab-1", "museo-slab-2", "Georgia", serif;
}
.accomplishments {
    color: black;
    margin: 100px auto 0 auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font: 21px "museo-slab-1", "museo-slab-2", "Georgia", serif;
    letter-spacing: 2px;
}
.portfolioTouch{
    color: black;
    
}